@use "../../styles" as *;

/* --- recipe's container --- */
.recipe-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;

    /* button - active's state */
    .active {
        background: $background-second-green;
        color: $text-main-color;
    }
}


.summary {
    margin-bottom: 2rem;
}

.summary-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
    text-justify: inter-word;
}

.instructions {
    margin-bottom: 2rem;
}

.instructions-text {
    margin-bottom: 2rem;
    text-align: justify;
    text-justify: inter-word;
}

button {
    padding: 1rem 2rem;
    margin-top: 2rem;
    color: $text-main-color;
    background: white;
    border-radius: 1rem;
    border: 2px solid $text-main-color;
    margin-right: 2rem;
    font-weight: 600;
}
